.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #ffffff;
}
.footer__column-links {
  margin: 20px 0 16px;
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style: none;
}
.footer__column-link:hover {
  color: pink;
  transition: 0.3s linear;
}
